<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ end }}</title>
    {{ with resources.Get "style.css" -}}
    <link href="{{ .RelPermalink }}" rel="stylesheet" type="text/css" media="all">
    {{ end -}}
  </head>
  <body>
    <header>
    <h2>David R. Hanson</h2>
    <nav class="top-menu">
        <a href="{{ (site.GetPage "_index.html").RelPermalink }}">Home</a>
        {{- range (site.GetPage "/_index.html").Pages.ByTitle }}
            &middot; <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- end -}}
    </nav>
    </header>
    <main>
    {{ block "main" . }}
    {{ end -}}
    </main>
  </body>
</html>
