@import url("https://unpkg.com/bamboo.css");

html { overflow-y: scroll; }
h2 { margin-bottom: .5rex; }
h3, h4 { margin-top: 1rex; margin-bottom: 0; }
p { margin-top: 1.5rex; margin-bottom: 1.5rex; }
.top-menu { font-size: smaller; }
#books { color: var(--b-txt); }
#reports > p { margin-top: 0; margin-bottom: 0; }
#software { margin-top: 1rex; display: grid; grid-template-columns: auto auto; column-gap: 1rem; }
body { max-width: 100%; }
/* Phones, tablets */
@media (max-width: 1080px) { body { width: 100vw; margin-left: 3px; margin-right: 3px; } }
/* Laptops, desktops */
@media (min-width: 1080px) { body { width: 50vw; } }
