body {
    font-family: sans-serif,"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 12pt; font-weight: normal;
    background-color: #FFFFE8; /* #e0e6f1; */ margin-top: 6px;
}
h4 { margin-bottom: 0px }
h2 { margin: 0px }
h3 { margin-bottom: 0ex }
.top-menu { font-size: smaller; }
p { margin: 1.5ex 0px 1.5ex 0px; }
a:link, a:visited { color: #0066CC; }
p.first, .first { margin-top: 0px }
dl { margin-bottom: 0; }
div.reports p { margin: 0; }
